<template>
<div>
<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <router-link to="/" class="navbar-brand js-scroll-trigger">
          <img src="https://bitnob.com/img/favicon.ico">
        </router-link>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <router-link to="/" class="nav-link js-scroll-trigger">Home <span class="sr-only">(current)</span></router-link>
      </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="mailto:support@bitnob.com">Support@Bitnob.com</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

</div>
</template>
<script>
export default {
    name: 'Header',

    data() {
        return {

        }
    },
}
</script>
<style>

</style>
