<template>
<div>
   <!-- information Section -->
    <section id="signup" class="signup-section">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-lg-8 col-sm-10 col-xs-12 mx-auto text-center">

            <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
            <h2 class="text-white mb-5">{{header}}</h2>

            <form class="form-inline d-flex">
              <input type="text" id="amount" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" placeholder="Voucher Amount">
              <input type="text" id="contact" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" placeholder="Email or Phone #">
              <button type="button" @click.prevent="sendInfo" class="btn btn-primary mx-auto">Proceed to Pay >></button>
            </form>

          </div>
        </div>
      </div>
    </section>
    </div>
</template>
<script>
export default {
    name: 'Info',
    data() {
        return {
        header: 'Complete this Form',
        }
    },

    methods: {
        sendInfo() {

        }
    },
}
</script>

<style>

</style>

