<template>
    <div>
<h1 class="text-center text-info">{{header}}</h1>
<div class="row">
<div class="col-sm-8 offset-sm-2">
<form>
<div class="form-group">
<label for="username">Username</label>
<input type="text" required class="form-control" id="username" v-model="username">
</div>
<div class="form-group">
<label for="email">Email</label>
<input type="email" required class="form-control" id="email" v-model="email">
</div>
<div class="form-group">
<label for="password">Password</label>
<input type="password" required class="form-control" id="password" v-model="password">
</div>
<button type="button" class="btn btn-primary" @click.prevent="loginUser">Login</button>
</form>
</div>
</div>
    </div>
</template>

<script>
import { authUrl } from '../../config';
export default {
    name: 'Login',
    data() {
        return {
        header: 'Account Login',
        username: null,
        password: null,
        email: null,
        }
    },

    methods: {
       loginUser() {
           let userObject = {
               username: this.username,
               email: this.email,
               password: this.password
           }

           this.$http.post('http://127.0.0.1:8000/api/v1/rest-auth/login/', userObject)
           .then(res => {
               console.log(res.data)
               localStorage.setItem('token', JSON.stringify(res.data.token))
               this.$router.push({name: 'home'})
               }, err => {
                   console.log(res.data)
               })
       }
    },
}
</script>

<style>

</style>

